<h2>User info</h2>

       <table class="table">
      <tbody>
       <tr>
       <th><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></th>
        </tr>
        <tr>
          <th>ユーザー名</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %><th>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <%= link_to '', edit_user_path(user.id), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
    </div>


   <%= form_with model:hot_spring, url:'/hot_springs', local:true do |f| %>

      <div class="form-group">
        <label for="hot_spring_title">温泉名</label>
        <%= f.text_field :title, class: 'form-control hot_spring_title' %>
      </div>
      <div class="form-group">
      <label for="hot_spring_opinion">おすすめポイント</label>
      <textarea class="form-control hot_spring_body" name="hot_spring" id="hot_spring_body"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" name="commit" value="投稿" class="btn btn-success" data-disable-with="投稿">
      </div>

    <% end %>