<p id="notice"></p>
<div class="container px-5 px-sm-0">
<div class="row">
  <div class="col-md-3">
     <%= render 'users/list', hot_spring: @hot_spring, user: @user %>
  </div>



<tbody>
    <tr>
      <td>
      <%= link_to user_path(@hot_spring.user_id) do %>
      <%= attachment_image_tag @hot_spring.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
      <div><%= @hot_spring.user.name %></div>
      <% end %>
      </td>

      <td>
        <%= link_to  hot_spring_path(@hot_spring.id)  do%>
        <%= @hot_spring.hot_spring_name %>
        <%end%>
      </td>
      <td><%= @hot_spring.text %></td>
      <!--<コメント>-->
      <%= form_with model:[@hot_spring,@hot_spring_comment] do |f| %>
        <div class="form-group">
        <%= f.text_area :comment, size:"90x5" %>
        </div>
        <div class="form-group">
        <%= f.submit '投稿'%>
        </div>
      <% end %>
      <td></td>
      <td class="index"><div id="hot_spring_<%= @hot_spring.id %>"><%= render "hot_spring_comments/index", hot_spring: @hot_spring %></div></td>
      <!--<いいね機能>-->
      <td class="favorite"><div id="favorite_<%= @hot_spring.id %>"><%= render "favorites/favorite", hot_spring: @hot_spring %></div></td>
      <% if @hot_spring.user.id == current_user.id %>
      <td><%= link_to "編集", edit_hot_spring_path(@hot_spring.id) %></td>
      <td><%= link_to "削除", hot_spring_path(@hot_spring.id), method: :delete, "data-confirm" => "本当に消しますか?" %></td>
      <% end %>
    </tr>
  </tbody>
  </table>


</div>
</div>
</div>