<!DOCTYPE html>
<html>
  <head>
    <title>FavoritesHotSpring</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>Favorites Hot Spring</span>
          </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse collapse show" id="navbarNavDropdown">
              <% if user_signed_in? %>
               <ul class="navbar-nav ml-auto">
                  <li>
                    <%= link_to 'マイページ', user_path(current_user), class: "fas fa-home nav-link text-light" %>
                  </li>
                  <li>
                    <%= link_to '温泉一覧', hot_springs_path, class: "fas fa-book-open nav-link text-lightfas fa-users nav-link text-light" %>
                  </li>
                  <li>
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt nav-link text-light" %>
                  </li>
                </ul>
              <% else %>
                <ul class="navbar-nav ml-auto">
                  <li>
                    <%= link_to "新規登録", new_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to "ログイン", new_user_session_path %>
                  </li>
                </ul>
              <% end %>
          </div>
        </div>
      </nav>

    </header>


    <%= yield %>
   <footer>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
 </body>
</html>
